/*

!.github/
!public/
!src/

!.dockerignore
!.editorconfig
!.eslintignore
!.eslintrc.json
!.gitignore
!.prettierrc.js
!.release-please-manifest.json
!Dockerfile
!LICENSE
!package-lock.json
!package.json
!README.md
!release-please-config.json
!tsconfig.json
